{# app/Resources/views/contact.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>DID Dine in the Dark New Contact</title>
        <style>
          table {
            border-collapse: collapse;
          }
         table, th, tr {
           border-bottom: 1px solid black;
           width: 100%;
           line-height: 200%;
           text-align: left;
         }
         td {
           padding: 5px;
         } 
        </style>
    </head>
    <body>
      <h4>DID - Dine in the Dark Contact</h4>
      <table>
      <tr>
        <td>Name: </td>
        <td>{{ form.name }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ form.email }}<td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{{ form.phone }}</td>
      </tr>
       <tr>
        <td>Message: </td>
        <td>{{ form.message }}</td>
      </tr>
      </table>
    </body>
</html>
