{# app/Resources/views/reservation.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>DID - Dine in the Dark reservation</title>
        <style>
          table {
            border-collapse: collapse;
          }
         table, th, tr {
           border-bottom: 1px solid black;
           width: 100%;
           line-height: 200%;
           text-align: left;
         } 
        </style>
    </head>
    <body>
      <h4>DID - Dine in the Dark reservation</h4>
      <table>
      <tr>
        <td>Name: </td>
        <td>{{ form.FullName }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ form.EmailReservation }}<td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{{ form.PhoneReservation }}</td>
      </tr>
      <tr>
        <td>Date: </td>
        <td>{{ form.Calendar }}</td>
      </tr>
      <tr>
        <td>Time: </td>
        <td>{{ form.Time }}</td>
      </tr>
      <tr>
        <td>Group: </td>
        <td>{{ form.Group}}</td>
      </tr>
      <tr>
        <td>Message: </td>
        <td>{{ form.Notes }}</td>
      </tr>
      </table> 
    </body>
</html>
