/*
Desktop
*/
@media only screen and (min-width: 981px) {
  .text-purple{
    color: #b2a0b9;
  }

  .nav-side-menu {
    width: 12em;
  }

  #footer {
    height: 3rem;
  }
}

@media only screen and (orientation: portrait){ 
  .spacer-p-20{
    height: 20vh;
  }

  .spacer-p-15{
    height: 15vh;
  }

  .spacer-p-10{
    height: 10vh;
  }

  .spacer-p-9{
    height: 9vh;
  }

  .spacer-p-8{
    height: 8vh;
  }

  .spacer-p-7{
    height: 7vh;
  }

  .spacer-p-6{
    height: 6vh;
  }

  .spacer-p-5{
    height: 5vh;
  }

  .spacer-p-4{
    height: 4vh;
  }

  .spacer-p-3{
    height: 3vh;
  }

  .spacer-p-2{
    height: 2vh;
  }

  .spacer-p-1{
    height: 1vh;
  }
  .spacer-p-half{
    height: 0.5vh;
  }
  .mobile-padding{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .font-38-portrait{
    font-size: 2.4rem;
  }

  .socialWidgetCore > img{
    width: 50px;
  }

  div.socialWidgetCallout .borderBox {
    width: 50px;
    height: 30px;
  }

  div.socialWidgetCallout .reviewCount {
    font-size: 1.6rem;
  }
  .no-mobile-padding{
    padding-left: 0px;
    padding-right: 0px;
  }

  #mainBottomSpacer {
   height: 6vh; 
  }
}

@media only screen and (orientation: portrait) and (min-width: 750){
  .mobile-font{
    font-size: 1.5rem;
  }
}



@media only screen and (orientation: landscape){
  
  #mainBottomSpacer {
   height: 6vh; 
  }

  .font-28{
    font-size: 1.75rem;
  }
  .spacer-l-20{
    height: 20vh;
  }

  .spacer-l-15{
    height: 15vh;
  }

  .spacer-l-10{
    height: 10vh;
  }

  .spacer-l-9{
    height: 9vh;
  }

  .spacer-l-8{
    height: 8vh;
  }

  .spacer-l-7{
    height: 7vh;
  }

  .spacer-l-6{
    height: 6vh;
  }

  .spacer-l-5{
    height: 5vh;
  }

  .spacer-l-4{
    height: 4vh;
  }

  .spacer-l-3{
    height: 3vh;
  }

  .spacer-l-2{
    height: 2vh;
  }

  .spacer-l-1{
    height: 1vh;
  }
  .spacer-l-half{
    height: 0.5vh;
  }
}


@media only screen and (max-width: 1400px) and (max-height: 600px) and (orientation: landscape){
  #footer{
    background: $darkPurple;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
  }
}

@media only screen and (max-width: 981px) and (-webkit-max-device-pixel-ratio: 1){
  * {
    font-size: 1rem;
  }
  div.nav-side-menu {
    width: 8rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 650px) and (-webkit-max-device-pixel-ratio: 1){
  * {
    font-size: 1rem;
  }
  div.nav-side-menu {
    width: 8rem;
    margin-top: 1rem;
  }
}
