.gallery-image {
   max-width: 100%;
   max-height: 100%;
   width: 100%;
   height: 100%;
   display: flex;
   flex-grow: 1;
   flex-shrink: 1;
}

.flex-center{
  vertical-align: middle;
}

#top{
  display: flex;
  flex-direction: row;
}

.flex-1 {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-2{
  display: flex;
  flex-grow: 1;
  flex-shrink: 2;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  height: 20rem;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  flex-direction: row;
  overflow: auto;
}

.flex-left {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
} 

.flex-right {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.flex-image {
  margin: 1.5%;
}

.flex-total-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

