$bgFooter: "images/bg-footer.png";
$bgdid: "images/bg-did.png";
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #333;
$menuPurpleLight: rgba(53, 2, 104, 0.8);
$menuPurple: rgba(25, 1, 49, 0.8);
$darkPurple: rgba(18, 4, 31, 0.8);
$fontHover: "#ED75DA";
$fontNotHover: "#b2a0b9";
$menuSelected: #D7B6E4;
$tapableSelected: #ED75DA;
$imageBorder: #632e8a;
$didBtnColor: rgba(136, 50, 171, 0.5);

