@import 'samsung.scss';
@import 'ipad.scss';
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';
@import 'bootstrap.css';
@import 'animate.css';
@import './font-awesome/css/font-awesome.css';
@import 'phone.scss';
@import 'tablet.scss';
@import 'desktop.scss';
@import 'flex.scss';
@import 'globals.scss';

#did__dissolving > area {
  height: 25vh;
}

.bg-gradient {
  background: linear-gradient(271deg, #570af2, #cab6f3);
  background-size: 400% 400%;
  -webkit-animation: DIDDissolver 30s ease infinite;
  -moz-animation: DIDDissolver 30s ease infinite;
  -o-animation: DIDDissolver 30s ease infinite;
  animation: DIDDissolver 30s ease infinite;
}

h2.tapable:not(:hover){
  -webkit-animation: SplashTextColor 5s ease infinite;
  -moz-animation: SplashTextColor 5s ease infinite;
  -o-animation: SplashTextColor 5s ease infinite;
  animation: SplashTextColor 5s ease infinite;
}

@keyframes SplashTextColor {
  0%{color: #F}
  10%{color: #FF}
  20%{color: #FFF}
  30%{color: #FFFF}
  40%{color: #FFFFFF}
  50%{color: #FFFF}
  60%{color: #FFF}
  70%{color: #FF}
  80%{color: #F}
  90%{color: #FF}
  100%{color: #FF}
}

#did__dissolving {
  height: 100%;
  margin-bottom: 0px;
}

@-webkit-keyframes DIDDissolver {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-moz-keyframes DIDDissolver {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-o-keyframes DIDDissolver {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@keyframes DIDDissolver { 
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}

i {
  margin: 1rem;
}
.zoom {
  zoom: 1; /* IE */
  -moz-transform: scale(1); /* Firefox */
  -moz-transform-origin: 0 0;
  -o-transform: scale(1); /* Opera */
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1); /* Safari And Chrome */
  -webkit-transform-origin: 0 0;
  transform: scale(1); /* Standard Property */
  transform-origin: 0 0;  /* Standard Property */
}

.fa-spin { -webkit-filter: blur(0); }

#bottom {
  margin-top: 5px;
}

/*
  these mark invalid inputs red
*/
input:required:invalid {
  border-color: $menuPurpleLight;
}

input:valid {
  border-color: $menuPurpleLight;
}

input:invalid {
  border-color: red;
}

.text-black{
  color: rgba(0,0,0,1);
}

li.left-tab {
  border-top-left-radius: 10px;
}

li.right-tab {
  border-top-right-radius: 10px;
}

.did-title {
  margin-bottom: 2rem;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 0.5rem;
}

#MainPage {
  overflow-x: auto;
  overflow-y: hidden;
}

#AboveFooter{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

img.bgFade {
  animation-name: dissolve;
  animation-duration: 4s;
  z-index: -4;
}

.bg-delay-1 {
  animation-delay: 4s;
}

.bg-delay-2 {
  animation-delay: 8s;
}

.bg-delay-3 {
  animation-delay: 12s;
}

.bg-delay-4 {
  animation-delay: 16s;
}

@keyframes dissolve {
  0% { opacity: 1.0; }
  100% { opacity: 0.0; }
}

img.solid {
  opacity: 1.0;
  z-index: -5;
}

img.transparent {
  opacity: 0.0;
  z-index: -6;
  display: none;
  animation-play-state: paused;
}

.light-switch {
  width: 8rem;
}

.album_cover {
  border-width: 0.2em;
  border-style: double;
  border-color: $imageBorder;
}

.loader {
  border: 2rem solid #f3f3f3; /* Light grey */
  border-top: 2rem solid $menuPurple; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-gallery {
  border-radius: 0px;
  background-color: $didBtnColor;
  border-color: $didBtnColor;
  color: #f0f8ff;
}

button.btn-gallery:hover {
  background-color: $didBtnColor;
  border-color: $didBtnColor;
  color: #f0f8ff;
}

.btn-did.active {
  background-color: $menuPurpleLight;
}

.light-btn {
  border-width: 0px;
}

#directions-page{
  line-height: 10px;
}

.fullHeight{
  height: 100%;
}

.tab{
  display: inline;
  border-radius: 2px;
  background-color: rgba(39, 12, 38, 0.4);
}

.tab.selected{
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #250d19;
}

.tabby{
  border-bottom: 1px solid #ddd;
}

.mobile-select{
  background: rgba(38, 27, 49, 0.8);
  font-size: 2.5rem;
  border-radius: 10px;
  color: white;
}

.margin-top-3{
  margin-top: 3%;
}

.margin-top-2{
  margin-top: 2%;
}

.margin-top-1{
  margin-top: 1%;
}

#mobile-logo{
  width: 55px;
  height: 60px;
}

#mobile-content{
  height: 85%;
  overflow: auto;
  border-radius: 10px;
  line-height: 175%;
}

.mobile-bg {
  background: rgba(53, 2, 104, 0.6);;
}

.btn-did{
  background-color: $darkPurple;
}

.highlight:hover, .highlight:active {
  color: $tapableSelected;
}

.menu_item{
  color: #b2a0b9;
}

body {
  font: 1em $font-stack;
  color: $primary-color;
}

.sublayer{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.layer1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  max-height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.layer3{
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  display: inherit;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.not-scrollable {
  overflow: hidden;
}

.text-italic{
  font-style: italic;
}

.faq-text{
  font-style: normal;
}

.layer2{
  z-index: 1;
}

.footer-gate{
  border-right: 1px solid #b2a0b9;
}

.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

p{
  margin-bottom: 10px;
}


.splash{
  height: 50vh;
}

.MainPage{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

btn-light-switch{
  background-color: #FFF;
  color: grey;
}

.text-white{
  color: #FFF;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.event_box{
  padding: 10px;

}

.text-bold{
  font-weight: bold;
}

.tapable {
  -webkit-user-select: none;
  touch-action: none;
}

.tapable-item {
  color: inherit;
  cursor: inherit;
  -webkit-user-select: none;
  touch-action: none;
}

.font-Avenir{
  font: Avenir, monospace;
}

.font-14{
  font-size: 0.875rem;
}

.font-16{
  font-size: 1rem;
}

.c-hand{
  cursor: hand;
  cursor: pointer;
}

#flashlight {
  touch-action: none;
  background-image: radial-gradient(farthest-corner at 50% 50%, rgba(48, 8, 48, 0) 0%, rgba(48, 8, 48, 0.35) 0%, #000000 4%);
  background-image: radial-gradient(center center 90deg, circle closest-corner, rgba(48, 8, 48, 0) 0%, rgba(48, 8, 48, 0.35) 0%, #000000 4%);
  background-image: -moz-radial-gradient(center center 90deg, circle closest-corner, rgba(48, 8, 48, 0) 0%, rgba(48, 8, 48, 0.35) 0%, #000000 4%);
  background-image: -m-radial-gradient(center center 90deg, circle closest-corner, rgba(48, 8, 48, 0) 0%, rgba(48, 8, 48, 0.35) 0%, #000000 4%);
  background-image: -o-radial-gradient(center center 90deg, circle closest-corner, rgba(48, 8, 48, 0) 0%, rgba(48, 8, 48, 0.35) 0%, #000000 4%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 180, from(rgba(87, 16, 87, 0.4)), to(rgba(0, 0, 0, 255)));
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  /*-webkit-animation: animateLight 2s ease infinite alternate;
  -moz-animation: animateLight 2s ease infinite alternate;
  animation: animateLight 2s ease infinite alternate;*/
  zoom: 100%;

}

@-webkit-keyframes animateLight {
  0% {
    -webkit-transform: scale(.95);
     opacity: .8;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes animateLight {
  0% {
    -moz-transform: scale(.95);
    opacity: .8;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}

@keyframes animateLight {
  0% {
    transform: scale(.95);
    opacity: .8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#main {
  max-width: 100%;
}

#main-content{
  border-radius: 10px;
  overflow: hidden;
}

#home-page{
  height: 100%;
}

#sideMenu img{
  padding-top: 10px;
}

@keyframes transToSolid {
  from {background: rgba(25,1,49,0.8); }
  to { background: rgba(25,1,49,0.9); }
}

@keyframes SolidToTrans {
  from {background: rgba(25,1,49,0.9); }
  to { background: rgba(25,1,49,0.8); }
}

.solidify:hover{
  animation: transToSolid 1.0s forwards;
}

 .solidify:not(:hover){
  animation: SolidToTrans 1.0s forwards;
}

.home-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.gallery-title{
  text-align: center;
  margin-bottom: 1rem;
  border-color: rgba(25, 1, 49, 0.6);
  border-bottom-width: 2px;
  padding-bottom: 0.5rem;
}

.image-holder{
  border: thin solid $imageBorder;
  border-radius: 4px;
  border-width: 2px;
  display: inline-block;
  line-height: 0;
  transition: all 0.1s ease-out 0s;
  padding-left: 0px;
  padding-right: 0px;
}

body,
html {
  position: fixed;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  zoom:100%;
}

@keyframes bgAnimatedBackground {
	from { background-position: center bottom; }
	to { background-position: center center; }
}

#bg{
  background-color: #9933ff;
  background-size: cover;
}

.bg-pink {
  background-color: #edd9f5;
}

.nav-side-menu {
  position: relative;
  float: left;
}

.bgImg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -7;
  opacity: 0.0;
}

#bgImg{
  top: 0;
  left: 0;
  position: absolute;
}

#footer{
  background: $darkPurple;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#sideMenu{
  align-items: center;
  color: #FFF;
  background: $menuPurple;
}

.did-bg{
  background: $menuPurple;
}

.footer-padding{
  padding-top: 2px;
}
