@import 'globals.scss';

/*
Generic mobile media rule
*/
@media only screen and (max-width: 981px){
  form input.form-control, .react-datepicker__day-name, .react-datepicker__day {
    font-size: 18px;
  }
  .text-purple {
    color: #e6dcea;
  }

  body > div, html {
    font: 1.45rem $font-stack;
    color: $primary-color;
    line-height: 2rem;
  }
 
  .nav-side-menu {
    width: 9em;
  }

  #footer {
    height: 6rem;
  }

  #footer-center {
    display: none;
  }

  #footer-right {
    width: 100%;
    height: 50%;
  }

  #footer-left {
    width: 100%;
    height: 50%;
    align-self: flex-end;
  }

  .flex-space-around {
    justify-content: space-around;
  }

  .footer-left {
    justify-content: left;
  }

  .flex-text {
    flex-basis: 8em;
  }

  .flex-icon {
    flex-basis: 4em;
  }

  .flex-image {
    margin: 3px;
  }

  h4 {
    font-size: 1em;
  }
}

/*
Mobile pixel ratio 2 (for phones that are slightly less high-res)
*/

@media only screen and (max-width: 981px)
  and (-webkit-min-device-pixel-ratio: 1.2) 
  and (-webkit-max-device-pixel-ratio: 3){
    html, body, div {
      font-size: 1.6rem;
    }
    .nav-side-menu{
      width: 8em;
    } 
}

/*
Mobile Landscape
*/
@media only screen and (max-width: 981px) and (orientation: landscape){
  div#mainBottomSpacer {
   height: 15vh; 
  }
}
